<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Management Users</h4>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th *ngFor="let item of listTitle">
                {{item}}
              </th>

            </thead>
            <tbody>
              <tr *ngFor="let item of listUsers">
                <td>
                  {{item._id}}
                </td>
                <td>
                  {{item.username}}
                </td>
                <td>
                  {{item.roles[0]}}
                </td>
                <td class="text-left">
                  <button type="button" class="btn btn-danger mr-2" (click)="openModal(template)">Details</button>
                </td>
                <!--This is the modal box -->
                <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">The information's username: {{item.username}}</h4>
                    <button type="button" class="btn-close close pull-right" aria-label="Close"
                      (click)="modalRef?.hide()">
                      <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="input-group mb-3">
                      <div>
                        <span class="input-group-text" id="prefixId">ID: {{item._id}}</span>
                      </div>
                      <div>
                        <span class="input-group-text" id="prefixId">Username: {{item.username}}</span>
                      </div>


                      <div> <span class="input-group-text" id="prefixId">Email: {{item.email || N/A}}</span>
                      </div>
                      <div>
                        <span class="input-group-text" id="prefixId">roles: {{item.roles}}</span>

                      </div>
                    </div>
                  </div>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
